<!-- Área del Gráfico -->
<ng-container>
    <div fxFlex fxLayout="column" class="ar-margin-bottom-sm ar-margin-top-sm">
        <span class="ar-core-title ar-text-primary-white">
            <!-- {{listaControlesAgrupados[indexGrafico]?.datosGrafico[0].name}} -->
        </span>
    </div>
    <!-- Área del gráfico -->
        <!-- <ngx-charts-line-chart #chartTemperaturas fxLayoutAlign="center center" [view]="configGraph.view"
        [scheme]="configGraph.colorScheme" [showXAxisLabel]="configGraph.showXAxisLabel"
        [showYAxisLabel]="configGraph.showYAxisLabel" [xAxis]="configGraph.xAxis"
        [yAxis]="configGraph.yAxis" [xAxisLabel]="configGraph.xAxisLabel"
        [yAxisLabel]="configGraph.yAxisLabel" [timeline]="configGraph.timeline"
        [gradient]="configGraph.gradient"
        [results]="listaControlesAgrupados[indexGrafico].datosGrafico">
    </ngx-charts-line-chart>  -->
</ng-container>